<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset ="ISO-8859-1">
<title> Product index</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
 integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
 crossorigin="anonymous">
</head>
<body>
<nav th:insert="fragmentlayout :: navBar"/>
	<div class="container my-2">
	
		<h1> Product list</h1>
		<a th:href ="@{/addNewProduct}" class="btn btn-primary btn-sm mb-3"> Add product</a>
		<table border='1' class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th> Product Name</th>
					<th> Product Price </th>
					<th> Product Company Name</th>
					<th> Product Quantity</th>
					<th>Stock</th>
					<th>Action</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="product :${listProduct}">
					<td th:text="${product.productName}"></td>
					<td th:text="${product.productPrice}"></td>
					<td th:text="${product.productCompanyName}"></td>
					<td th:text="${product.productQuantity}"></td>
					<td th:text="${product.productStock}"></td>
					<td> <a th:href="@{/updateProduct/{id}(id=${product.id})}"class="btn btn-primary">Update</a>
					<a th:href="@{/deleteProduct/{id}(id=${product.id})}"class="btn btn-danger">Delete</a></td>
				</tr>
			</tbody>
		</table >
	</div >
</body>
</html >